html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Styling the navbar */

.flex-container {
    color: whitesmoke;
    background-color: rgb(127, 138, 255);
    display: flex;
    padding: 20px ;
    justify-content: center;
}

.menu {
    padding: 5px 20px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

.signup{
    margin-right: 20px;
}

/* Styling the underneath header */

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Photo-rows */

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    margin: 10px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.photo-grid-item {
    margin: 5px;
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

/* Magazine-style */

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bolder;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid rgb(0, 0, 0);
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
    margin: 20px;
}

.footer-three {
    flex: 2;
}

.footer-one {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.footer-two {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}
