html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Styling the navbar */

.flex-container {
    color: whitesmoke;
    background-color: rgb(127, 138, 255);
    display: flex;
    padding: 20px ;
    justify-content: center;
}

.menu {
    padding: 5px 20px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

.signup{
    margin-right: 20px;
}

/* Styling the underneath header */

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Photo-rows */

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: flex-start;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}